In [18]:
import pandas as pd
from scipy.stats import *

In [19]:
data = {
    "Watch Tennis": [16, 4],
    "Do Not Watch Tennis": [24, 56]
}
index = ["Drink Wine", "Do Not Drink Wine"]

df = pd.DataFrame(data, index=index)
df

                   Watch Tennis  Do Not Watch Tennis
Drink Wine                   16                   24
Do Not Drink Wine             4                   56

In [20]:
row_percentages = df.divide(df.sum(axis=1), axis=0) * 100
column_percentages = df.divide(df.sum(axis=0), axis=1) * 100
cell_percentages = df / df.values.sum() * 100

In [21]:
print("Row percentages (%)")
print(row_percentages.round(2))

print("\nColumn percentages (%)")
print(column_percentages.round(2))

print("Cell percentages (%)")
print(cell_percentages.round(2))

Row percentages (%)
                   Watch Tennis  Do Not Watch Tennis
Drink Wine                40.00                60.00
Do Not Drink Wine          6.67                93.33

Column percentages (%)
                   Watch Tennis  Do Not Watch Tennis
Drink Wine                 80.0                 30.0
Do Not Drink Wine          20.0                 70.0
Cell percentages (%)
                   Watch Tennis  Do Not Watch Tennis
Drink Wine                 16.0                 24.0
Do Not Drink Wine           4.0                 56.0

**Ho:** There is no relationship between wine consumption and whether a person watches professional tennis on television.

**Ha:** There is a relationship between wine consumption and whether a person watches professional tennis on television.

In [22]:
chi2, p_value, dof, expected = chi2_contingency(df)

print("Chi-square:", chi2)
print("p-value:", p_value)
print("Degrees of freedom:", dof)
print("Expected frequencies:\n", expected)

Chi-square: 14.6484375
p-value: 0.00012954198996663574
Degrees of freedom: 1
Expected frequencies:
 [[ 8. 32.]
 [12. 48.]]

Conclusion: There is strong evidence to suggest that advertising wine during televised tennis matches is not effective.