In [37]:
import pandas as pd
from scipy.stats import *

In [38]:
data = {
    "18 or Less": [37, 213],
    "19 to 35": [48, 202],
    "36 to 54": [56, 194],
    "55 or Older": [73, 177]
}

index = ["Yes", "No"]
df = pd.DataFrame(data, index=index)
df

     18 or Less  19 to 35  36 to 54  55 or Older
Yes          37        48        56           73
No          213       202       194          177

In [39]:
proportion_df = df / df.sum()
proportion_df

     18 or Less  19 to 35  36 to 54  55 or Older
Yes       0.148     0.192     0.224        0.292
No        0.852     0.808     0.776        0.708

In [40]:
import math

p1 = 0.852
p2 = 0.708
p_diff = p1 - p2

n = 250
z_score = 1.96

se = math.sqrt((p1 * (1 - p1) / n) + (p2 * (1 - p2) / n))

lower = p_diff - z_score * se
upper = p_diff + z_score * se
print(f'Confidence interval [{lower:.3f};{upper:.3f}]')

Confidence interval [0.072;0.216]

The proportions of viewers differ across age groups and show a decreasing trend with increasing age. This suggests that viewing the 11 P.M. news may be related to age group

A 95% confidence interval for the difference between p1 and p4 is (0.075, 0.213). Since the interval does not contain 0, the difference is statistically significant

---

**Ho:** Watching the 11 P.M. news does not depend on age group.

**Ha:** Viewing the 11 P.M. news depends on age group.

In [41]:
chi2, p_value, dof, expected = chi2_contingency(df)

print("Chi-square:", chi2)
print("p-value:", p_value)
print("Degrees of freedom:", dof)
print("Expected frequencies:\n", expected)

Chi-square: 16.38486599605241
p-value: 0.0009454813571521339
Degrees of freedom: 3
Expected frequencies:
 [[ 53.5  53.5  53.5  53.5]
 [196.5 196.5 196.5 196.5]]

Based on the chi-square test, we reject the null hypothesis at the 5% significance level, indicating that viewing the 11 P.M. news depends on age group.